<div class="article">
  <div class="center-align-content" *ngIf="isLoading">
    <mat-spinner class="align-item spinner-spacing" color="accent" mode="indeterminate"></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div class="jumbotron" [ngStyle]="{'background-image': 'url(' + article.imageUrl + ')'}">
      <div class="article-background">
        <h2 class="display-3 article-title">{{article.title}}</h2>
        <p class="article-published">
          published {{article.publishedAt | dateFormat}} by {{article.author}}
        </p>
      </div>
    </div>
    <div class="article-content">
      <mat-card>
        <div [innerHTML]="article.content"></div>
      </mat-card>
    </div>
  </div>
</div>
