.article {
  margin-top: 30px;
  .jumbotron {
    color: white;
    position: relative;
    height: 430px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 30%;
  }
  .article-content {
    .quote {
      font-size: 15px;
      font-style: italic;
      color: gray;
      line-height: 1.6;
    }
  }
}
