:host {
  .header {
    .title {
      padding: 0 10px;
    }
    position: fixed;
    z-index: 2;
    padding: 8px 16px;
    height: 60px;
  }
  .body {
    margin: 60px 0 0 0;
    z-index: 1;
  }
  .footer {
    padding: 0 15px;
    margin: 20px 0;
    text-align: center;
    z-index: 1;
  }
  .fill-remaining-space {
    flex: 1 1 auto;
  }
}
