
<mat-card class="article-list-item">
  <div class="row">
    <div class="picture col-xs-12 col-sm-4">
      <a [routerLink]="['/article', article.id]" [title]="article.title">
        <img width="200" height="135" [src]="article.imageUrl"/>
      </a>
    </div>
    <div class="post-info col-xs-12 col-sm-8">
      <h3>
        <a [routerLink]="['/article', article.id]">{{article.title}}</a>
      </h3>
      <p class="timeauthor"><time>{{article.publishedAt | dateFormat}}</time> |
        <cite>
          <a>{{article.author}}</a>
        </cite>
      </p>
      <p>{{article.description}}</p>
    </div>
  </div>
</mat-card>
